{% extends 'base.html' %}

{% block title %} Cart {% endblock %}

{% block content %}
    {% if cart %}
        <h1>Your Cart</h1>
        <div class="row">
            <div class="col">
                <table class="table table-striped" id="cart_table">
                    <thead class="thead" style="background-color: #006341;">
                        <tr>
                            <th scope="col">Giftcard</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            {% with giftcard=item.giftcard %}
                                <tr>
                                    <td>
                                        <b>
                                            <a class="brand_name" href="{{ giftcard.get_absolute_url }}">
                                            {{ giftcard }}
                                            </a>
                                        </b>
                                    </td>
                                    <td>
                                        <b>{{ giftcard.price }} PLN </b>
                                    </td>
                                    <td>
                                        <a href="{% url 'cart_remove' giftcard.id %}">
                                            <button type="button" class="btn btn-success btn-sm">Remove</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class="subtotal">
                            <td colspan="1"><b>Total</b></td>
                            <td colspan="1" class="num"><b>{{ cart.get_total_price }} PLN</b></td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'brand_list' 'all' %}">
                    <button type="button" class="btn btn-success btn-lg">Contiune shopping</button>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'order_create' %}">
                    <button type="button" class="btn btn-success btn-lg">Order</button>
                </a>
            </div>
        </div>
    {% else %}
        <h1>Your cart is empty</h1>
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <a href="{% url 'brand_list' 'all' %}">
                    <button type="button" class="btn btn-success btn-lg" >Contiune shopping</button>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}