[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-taggit = "*"
pillow = "*"
django-braces = "*"
sorl-thumbnail = "*"
psycopg2-binary = "*"
stripe = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.8"
