{% extends 'base.html' %}

{% block title %} Order detail {% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ order }} details:</h1>
            <table class="table table-striped table-hover" id="cart_table">
                <thead class="thead" style="background-color: #32CD32;">
                    <tr>
                        <th scope="col">Giftcard</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for giftcard in giftcards %}
                            <tr>
                                <td>
                                    <b>
                                        <a class="brand_name" href="{{ giftcard.get_absolute_url }}">
                                        {{ giftcard }}
                                        </a>
                                    </b>
                                </td>
                                <td>
                                    <b>{{ giftcard.value }} PLN </b>
                                </td>
                            </tr>
                        
                    {% endfor %}
                    <tr class="subtotal">
                        <td colspan="1"><b>Total</b></td>
                        <td colspan="3" class="num"><b>{{ order.get_total_cost }} PLN</b></td>
                      </tr>
                </tbody>
            </table>
            <div class="row justify-content-center">
                    {% if not paid %}
                    <div class="col-3">
                        <a href="{% url 'order_delete' order.id %}">
                            <button type="button" class="btn btn-success btn-lg">Abort</button>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'checkout' order.id %}">
                            <button type="button" class="btn btn-success btn-lg">Pay now</button>
                        </a>
                    </div>

                    {% else %}
                        <b><h4>This order has been paid</h4></b>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}