{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Brand {{ brand.name }} page {% endblock %}

{% block content %}
    <div class="brand_detail">
        {% thumbnail brand.logo "240x240" crop="100%" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
        <h2>{{ brand.name }}</h2>
        <p><b>Brand description:</b> {{ brand.description }}</p>
        {% for category in categories %}
            <a href="{% url 'brand_list' category.slug %}">
                <div class="category_tag">
                    #{{ category.name|lower }}
                </div>
            </a>
        {% endfor %}
        <br>
        
        <a href="{% url 'giftcards_list' slug=brand.slug ordering='price_ascending' %}">
            <button type="button" class="btn btn-success btn-lg">Go to giftcards</button>
        </a>
    </div>
{% endblock %}
    
