body
{
    margin: 0;
    background-image: url("../media/bg.jpg");
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    
}

#content
{   
    padding: 1cm;
    height: max-content;
    text-align: center;
}

#content::after
{   
    content: "";
    position: absolute;
    background-color: white;
    margin: 0.5cm auto auto auto;
    opacity: 0.7;
    border-radius: 0.5cm;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.form {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.brand
{
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 1cm;
    
}

.brand_detail img
{
    border-radius: 50%;
    margin: auto;
}

.brand img
{
    border-radius: 50%;
    margin: auto;
}

.brand:hover
{
    transition-duration: 0.5s;
    background-color: white;
}

.categories
{
    min-height: 100%;
    text-align: left;
    max-width: 100px;
    font-weight: 600;
    color: black;
}

.categories a
{
    color: black;
    margin-bottom: 5px;
}
.categories a:hover
{
    color: blue;
}

.pagination
{   
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

span.brand_name
{   
    display: block;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.brand_detail h3
{
    margin-top: 20px;
    color: blue;
}

.giftcard
{
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 1cm;
    
}

.giftcard img
{
    border-radius: 50%;
    margin: auto;
}

.giftcard:hover
{
    transition-duration: 0.5s;
    background-color: white;
}


.giftcard a:hover
{
    text-decoration: none;
}
  
.giftcard button:hover {
    background-color: #303030;
    color: white;
}

.giftcard button
{
    transition-duration: 0.4s;
    border-radius: 15px;
    border-style: hidden;
    padding: 10px;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#no_giftcards
{
    margin-top: 40px;
    padding: 40px;
}

#no_giftcards h1
{
    margin: auto;
}

.similar_brands
{
    min-height: 100%;
    text-align: left;
    max-width: 100px;
    font-weight: 600;
    color: black;
}

.similar_brands a
{
    color: black;
    margin-bottom: 5px;
}
.similar_brands a:hover
{
    text-decoration: none;
    color: blue;
}

.ordering
{
    text-align: left;
    min-width: 100%;
}

.ordering .ordering_button
{
    font-weight: 600;
    color: black;
}

.ordering .ordering_button:hover
{
    text-decoration: none;
    color:blue;
}

#cart_table
{
    margin-top: 20px;
}


#cart_table .brand_name
{
    color: black;

}

#cart_table .brand_name:hover
{
    text-decoration: none;
}

#cart_table .subtotal
{
    border-top: #303030 solid;
    color: red;
}